/* If the viewport > 340px or less than that */
@media only screen and (max-width: 340px) 
{
    .header-area .main-menue .navbar,
    .header-area .main-menue .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p.h4,
    .site-main .services-area, 
    .site-main .subscribe-us-area .subscribe
    {
        overflow-x: hidden;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox{
        width: 15rem;
    }
}