.particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(32vw, 30vh, 32px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(32vw, 30vh, 32px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.03;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(25vw, 35vh, 74px);
    background: #2671d9;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(22vw, 4vh, 95px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(22vw, 4vh, 95px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.44;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(40vw, 40vh, 24px);
    background: #d9ac26;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(11vw, 60vh, 69px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(11vw, 60vh, 69px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.72;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(80vw, 35vh, 60px);
    background: #d926b8;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(64vw, 3vh, 37px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(64vw, 3vh, 37px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.3;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(75vw, 18vh, 9px);
    background: #d98826;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(90vw, 35vh, 76px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(90vw, 35vh, 76px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.53;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(79vw, 32vh, 12px);
    background: #d9af26;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(79vw, 55vh, 54px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(79vw, 55vh, 54px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.65;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(35vw, 16vh, 9px);
    background: #8826d9;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(44vw, 76vh, 22px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(44vw, 76vh, 22px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.97;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(40vw, 69vh, 47px);
    background: #b8d926;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(21vw, 65vh, 85px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(21vw, 65vh, 85px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.1;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(5vw, 29vh, 98px);
    background: #d926ca;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(50vw, 29vh, 86px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(50vw, 29vh, 86px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.68;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(59vw, 30vh, 34px);
    background: #2641d9;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(69vw, 39vh, 15px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(69vw, 39vh, 15px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.36;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(29vw, 26vh, 54px);
    background: #d93826;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(35vw, 74vh, 62px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(35vw, 74vh, 62px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.71;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(53vw, 27vh, 1px);
    background: #c1d926;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(30vw, 4vh, 44px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(30vw, 4vh, 44px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.1;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(5vw, 22vh, 4px);
    background: #2697d9;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(1vw, 52vh, 41px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(1vw, 52vh, 41px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.5;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(12vw, 30vh, 26px);
    background: #3226d9;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(62vw, 83vh, 38px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(62vw, 83vh, 38px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.86;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(59vw, 71vh, 61px);
    background: #47d926;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(6vw, 8vh, 89px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(6vw, 8vh, 89px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.44;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(42vw, 3vh, 24px);
    background: #d9268e;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(66vw, 81vh, 83px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(66vw, 81vh, 83px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.57;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(8vw, 38vh, 8px);
    background: #d92674;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(35vw, 7vh, 8px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(35vw, 7vh, 8px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.27;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(73vw, 54vh, 49px);
    background: #b226d9;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(62vw, 76vh, 67px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(62vw, 76vh, 67px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.1;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(4vw, 44vh, 36px);
    background: #29d926;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(83vw, 51vh, 75px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(83vw, 51vh, 75px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.79;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(90vw, 75vh, 44px);
    background: #35d926;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(3vw, 35vh, 20px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(3vw, 35vh, 20px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.96;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(9vw, 7vh, 17px);
    background: #d94d26;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(65vw, 40vh, 23px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(65vw, 40vh, 23px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.88;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(21vw, 1vh, 78px);
    background: #2688d9;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(1vw, 87vh, 48px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(1vw, 87vh, 48px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.34;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(42vw, 81vh, 96px);
    background: #2653d9;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(60vw, 28vh, 41px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(60vw, 28vh, 41px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.69;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(81vw, 73vh, 44px);
    background: #d9262f;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(45vw, 21vh, 47px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(45vw, 21vh, 47px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.93;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(33vw, 32vh, 26px);
    background: #26d980;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(38vw, 26vh, 86px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(38vw, 26vh, 86px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.55;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(78vw, 61vh, 19px);
    background: #44d926;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(78vw, 72vh, 98px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(78vw, 72vh, 98px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.01;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(29vw, 85vh, 84px);
    background: #d98226;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(60vw, 68vh, 63px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(60vw, 68vh, 63px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.86;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(9vw, 42vh, 46px);
    background: #8ed926;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(34vw, 10vh, 70px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(34vw, 10vh, 70px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.76;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(89vw, 67vh, 21px);
    background: #a6d926;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(1vw, 1vh, 40px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(1vw, 1vh, 40px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.57;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(22vw, 15vh, 46px);
    background: #26d971;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(47vw, 18vh, 44px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(47vw, 18vh, 44px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.18;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(34vw, 14vh, 26px);
    background: #268bd9;
  }